$color-green1:#00aa4b;
$color-gray1: #e8e7e7;
$color-gray2: #777777;
$color-gray3: #303030;
$color-gray4: #787878;
$color-gray5: #f1f1f1;
$color-gray6:#e2e2e2;
$color-gray7:#353535;
$color-white1: #ffffff;
$color-black1: #121212;
$color-black2: #232323;
$color-black3: #191919;
$color-black4: #171717;
$color-black5: #000000;
$color-black6: #343434;
$color-yellow1: #fda11c;
$color-yellow2: #ffaf2d;
$color-pink1: #d5bee7;






.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


body {
    font-family: Myriad Pro Regular;
    color: $color-black1;
    background-color: rgba(232, 231, 231, 0.9);
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


// .header__container {
//     width: 100%;
//     position: fixed;
//     z-index: 100;
// }
.header__nav-wrapper {
    min-width: 670px;
    width: 100%;
    background-color: $color-gray5;
}

.header__nav-container {
    position: relative;

    margin: 0 auto;
    padding: 15px 30px;
    min-width: 670px;
    max-width: 767px;
    box-sizing: border-box;
    border-bottom: solid 1px $color-gray6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search-wrapper {
    flex-grow: 2;
}

.header__search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-menu-open {
    width: 73px;
    height: 73px;
    padding: 25px 22px;
    margin-right: 31px;
    box-sizing: border-box;
    background-color: $color-yellow1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // flex-shrink: 0;
}

.header__nav-menu-open span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-white1;
}

.header__nav-menu {
    display: none;

}

.header__nav-menu-open_close {
    justify-content: center;
}

.header__nav-menu-open_close span:nth-child(2) {
    display: none;
}

.header__nav-menu-open_close span:first-child {
    transform: rotate(-45deg);
    margin-bottom: -1px;
}

.header__nav-menu-open_close span:last-child {
    transform: rotate(45deg);
}

// выпадающее меню
.header__nav-menu_open-js {
    display: block;
}

.modal-open-js {
    overflow: hidden;
}

.header_menu-js {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
}

.header__nav {
    position: absolute;
    left: 0;
    top: 104px;
    height: 100vh;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: $color-white1;
    display: flex;
    flex-direction: column;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #e19a32;
}

.header__nav-list li {
    padding: 15px 0;
}

.header__nav-link {
    font-family: Myriad Pro;
    font-size: 18px;
    color: $color-black3;

}

.desctop-mail {
    display: none;
}

.desctop-number {
    display: none;
}





.header__logo {
    display: none;
}

.header__logo_mobile {
    width: 254px;
    height: 55px;
    // flex-shrink: 0;
}

.header__logo-img_mobile {
    width: 254px;
    height: 55px;
}

.header__search-open {
    width: 51px;
    height: 57px;
    margin-right: 41px;
    margin-left: auto;
    // flex-shrink: 0;
}

.header__search-img {
    width: 57px;
    height: 51px;
}

.header__search-form {
    display: none;
}

.header__search-suppliers {
    display: none;
}

.header__contacts-mobile {
    width: 45px;
    height: 51px;
    margin-right: 33px;
    flex-shrink: 0;
}

.header__mobile-img {
    width: 45px;
    height: 51px;
}

// .header__search-card {
//     flex-shrink: 0;
// }
.header__card-img {
    width: 56px;
    height: 51px;
}

.search-card__img-container {
    position: relative;
    width: 56px;
    height: 51px;
    background-image: url(../img/card.png);
    background-size: 100%;
}

.search-card__img-top {
    position: absolute;
    right: 10px;
    top: -17px;
    width: 22px;
    height: 17px;
    font-family: MyriadPro-SemiExt;
    font-size: 25.5px;
    font-weight: 300;
    color: $color-yellow1;
}

.search-card__text {
    display: none;
}

.header__category-wtapper {
    min-width: 670px;
    width: 100%;
    background-color: $color-gray5;
}

.header__category-open-container {
    margin: 0 auto;
    min-width: 670px;
    max-width: 767px;
    box-sizing: border-box;
}

.header__category-open {
    margin: 0;
    padding: 25px 30px;
    width: 100%;
    box-sizing: border-box;
    font-family: MyriadPro-LightSemiExt;
    font-size: 30px;
    font-weight: 300;
    color: $color-black5;
    display: flex;
    justify-content: space-between;
}

.header__category-open::after {
    content: '>';
    width: 14px;
    height: 17px;
    font-family: MyriadPro-SemiExt;
    font-size: 30px;
    font-weight: 300;
    color: $color-gray2;
}

.header__category-container {
    display: none;
}


main {
    min-width: 670px;
    max-width: 767px;
}

.main-block__offers {
    display: none;
}

.main-block__slider {
    height: 556px;
    background-color: #282828;
    width: 100%;
}

.main-block__sale-wrapper {
    margin: 0 auto;
    padding: 15px 30px;
    min-width: 670px;
    max-width: 767px;
    box-sizing: border-box;
}

.main-block__sale {
    padding: 255px 61px 68px 61px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid $color-yellow2;
    background-color: $color-white1;
    background-image: url(../img/giftbox.png);
    background-size: 118px 146px;
    background-position: top 83px left 61px;
    background-repeat: no-repeat;
}

.main-block__sale-comment {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: MyriadPro-LightSemiExt;
    font-size: 25px;
    line-height: 1.2;
    color: $color-black3;
}

.main-block__sale-headline {
    padding: 0;
    margin: 0 0 50px 0;
    font-family: Myriad Pro Regular;
    font-size: 40px;
    color: $color-black3;
}

.main-block__sale-link {
    padding: 0 25px 0 0;
    position: relative;
    font-family: MyriadPro-SemiExt;
    font-size: 30px;
    font-weight: 300;
    color: $color-yellow2;
}

.main-block__sale a::after {
    content: '>';
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 100%;
    font-family: MyriadPro-SemiExt;
    font-size: 30px;
    font-weight: 300;
    color: $color-yellow2;
}

.main-block__brands {
    margin: 0 auto;
    padding: 15px 30px;
    min-width: 670px;
    max-width: 767px;
    box-sizing: border-box;
}

.main-block__brands-list {
    width: 100%;
    margin-bottom: 120px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;


}

.main-block__brands-item {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 170px;
    box-sizing: border-box;
    padding: 35px 65px;
    background-color: $color-white1;
}

.main-block__brands-link:last-child {
    font-family: Myriad Pro;
    font-size: 30px;
    font-weight: normal;
    line-height: 2.23;
    text-align: left;
    color: #282828;
}

.main-news {
    display: none;
}

.main-recommendations {
    margin: 0 auto;
    padding: 15px 30px;
    min-width: 670px;
    max-width: 767px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-recommendations__header {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 76px;
    box-sizing: border-box;
}

.main-recommendations__header-title {
    padding: 0;
    font-family: Myriad Pro;
    font-size: 50px;
    font-weight: normal;
}

.main-recommendations__header-text {
    padding: 0;
    margin: 0;
    font-family: MyriadPro-SemiExt;
    color: $color-gray2;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    line-height: normal;
    text-align: center;
}

@media(min-width: 767px) {


    .header__nav-wrapper {
        min-width: 1340px;
        width: 100%;
        background-color: transparent;
    }

    .header__nav-menu-open {
        display: none;
    }

    .header__nav-container {
        display: block;
        margin: 0;
        padding: 0;
        max-width: 100%;
        border-bottom: none;
    }

    .header__nav-menu {
        display: block;
        width: 100%;
        background-color: $color-green1;
    }

    .header__nav {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        padding: 15px 0;
        width: 100%;
        height: auto;
        max-width: 1563px;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
    }

    .header__nav-list {
        margin: 0;
        padding: 4px 5px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
    }

    .header__nav-list li {
        padding: 0 5px;
    }

    .header__nav-list:first-child {
        width: 25%;
        padding: 0 20px 0 5px;
        border-right: 1px solid rgba(255, 255, 255, 0.25);
    }

    .header__nav-list:nth-child(2) {
        padding: 0 20px;
        width: 39%;
        border-right: 1px solid rgba(255, 255, 255, 0.25);
    }

    .header__nav-list:last-child {
        padding: 0 5px 0 20px;
        width: 36%;
        border: none;
    }



    .header__nav-link {
        font-size: 16px;
        font-weight: normal;
        color: $color-white1;
    }

    .desctop-mail {
        display: block;
    }

    .desctop-number {
        display: block;
    }


    .desctop-mail__text {
        font-family: Myriad Pro;
        font-size: 16px;
        font-weight: normal;
        color: $color-white1;
    }

    .desctop-mail__toltip {
        display: none;
    }

    .desctop-number__text {
        font-family: Myriad Pro;
        font-size: 16px;
        font-weight: normal;
        color: $color-white1;
    }



    .header__search-wrapper {
        display: block;
        width: 100%;
        background-color: $color-gray1;
    }

    .header__search-container {
        margin: 0 auto;
        padding: 15px 0;
        width: 100%;
        max-width: 1563px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__search-open {
        display: none;
    }

    .header__contacts-mobile {
        display: none;
    }

    .header__logo_mobile {
        display: none;
    }

    .header__logo {
        display: block;
        width: 222px;
        height: 40px;
        padding: 0 10px;
        margin-right: 80px;
    }

    .header__logo-img {
        width: 222px;
        height: 40px;
    }

    .header__search-form {
        height: 35px;
        display: flex;
        max-width: 885px;
        flex-grow: 1;
        border-radius: 5px;
    }

    .header__search-input-container {
        width: 100%;
        display: flex;

    }

    .header__search-select {
        display: flex;
        align-items: center;
        width: 66px;
        height: 35px;
        padding: 12px 26px 12px 17px;
        box-sizing: border-box;
        font-family: Myriad Pro;
        font-size: 16px;
        color: $color-gray2;
        background-color: $color-gray5;
        border-radius: 5px 0 0 5px;
    }

    .header__search-input {
        padding: 0 10px;
        box-sizing: border-box;
        flex-grow: 2;
        border: none;
        font-size: 16px;
    }

    .header__search-input:focus {
        outline: none;
    }

    .header__search-submit {
        width: 49px;
        height: 35px;
        background-color: $color-yellow2;
        border-radius: 0 5px 5px 0;
    }

    .header__search-submit span {
        display: none;
    }

    .header__search-suppliers {
        display: flex;
        width: 135px;
        align-items: center;
        margin-left: 39px;
        margin-right: 28px;
    }

    .header__search-suppliers-img {
        width: 35px;
        height: 35px;
        margin-right: 5px;
    }

    .header__search-suppliers-link {
        font-family: MyriadPro-SemiExt;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.14;
        color: $color-gray2;
    }

    .header__search-card {
        display: flex;
        padding: 0 10px;
    }

    .search-card__img-container {
        margin-right: 12px;
        width: 29px;
        height: 35px;
        background-image: url(../img/basket-img.png);
        background-size: 29px 26px;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .search-card__img-top {
        right: 9px;
        top: -2px;
        width: 14px;
        height: 10px;
        font-family: Myriad Pro;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.14;
    }

    .search-card__text {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .search-card__text-top {
        font-family: MyriadPro-SemiExt;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.14;
        color: $color-gray2;
    }

    .search-card__text-bottom {
        font-family: Myriad Pro;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.13;
        color: $color-black4;
    }

    .header__category-wtapper {
        min-width: 1340px;
        width: 100%;
        background-color: $color-white1;
    }

    .header__category-container {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1563px;
        box-sizing: border-box;
    }

    .header__category-open-container {
        display: none;
    }

    .header__category-close {
        display: none;
    }

    .header__category-title_mobile {
        display: none;
    }

    .header__category-list {
        padding: 20px 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    .header__category-item {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .header__category-img {
        width: 58px;
        height: 57px;
        margin-bottom: 7px;
    }

    .header__category-text {
        font-family: Myriad Pro;
        font-size: 16px;
        font-weight: normal;
        color: $color-black6;
    }

}